@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

@layer base {


  :root {
        --clr-grayishBlue: #8486a9;
        --clr-softRed: #fb6087;
        --clr-white: #ffffff;
        --clr-desaturatedBlue: #343650;
        --clr-blue: #1e1f29;
        --clr-darkBlue: #1d1e28;
  }

  *,
  *::before,
  *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  html {
      scroll-behavior: smooth;
      font-size: 14px;
      height: 100vh;


  }


  body {
      font-family: 'Red Hat Text', sans-serif;
      min-height: 100%;
      height: 100vh;

      background-color: #1e1f29;
      background-image: url('../public/pattern-hills.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      position: relative;
      z-index: 3;
  }

  body > * {
      width: 100%;
      margin: auto;
  }

  


  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
      user-select: none;
  }


  svg {
      margin: 0;
      padding: 0;
      overflow: visible;
  }


  button {
      border: none;
      padding: 0;
      margin: 0;
      background-color: inherit;
      cursor: pointer;
      font-size: inherit;
      font-family: inherit;


  
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
      display: inline-block;
      font-weight: 400;
  }

  p {
      line-height: 1.5;
      color: var(--color-grayishBlue);
  }


  a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
  }


  ul {
      list-style-type: none;
  }


  input {
      font-size: inherit;
      border: none;
      font-family: inherit;


      background-color: inherit;
  }

  input:focus {
      outline: none;
  }


  textarea {
      font-size: inherit;
      border: none;
      font-family: inherit;


      line-height: 1.5;
      background-color: inherit;
  }


  textarea:focus {
      outline: none;
  }


  fieldset {
      border: none;
  }
}